@font-face {
  font-family: "Guardians";
  src: url("/fonts/Guardians.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LexendDecaRegular";
  src: url("/fonts/LexendDecaRegular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-sans: "Guardians", sans-serif;
}
