.intercollege {
  background-color: #2d1d4c;
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/* card css */
.event-card-layout {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 120px;
}

.event-card {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 300px;
  background: rgb(255, 0, 179);
  background: linear-gradient(
    137deg,
    rgb(255, 0, 179) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: 0.3s ease;
  /* border-radius: 30px; */
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));

  span {
    color: #c6e2ff;
    z-index: 2;
    font-size: 28px;
  }
}

.event-card::after {
  content: "";
  background-color: #181818;
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  /* border-radius: 28px; */
}

.event-card:hover {
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
}

.button {
  position: absolute;
  bottom: -20px;
  /* Half inside, half outside */
  right: -20px;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "➜";
  /* Arrow pointing South-East */
  font-size: 28px;
  font-weight: normal;
  color: #ff007f;
  transform: rotate(45deg);
}

/* Hover or Click Effect */
.button:hover,
.button:active {
  /* transform: translate(-10px, -10px); */
  transform: rotate(-90deg);
}

/* slider */
.filter-switch {
  border: 2px solid #ffc000;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 400px;
  overflow: hidden;
}
.filter-switch input {
  display: none;
}
.filter-switch label {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s;
  font-weight: 500;
  font-size: 18px;
}
.filter-switch .background {
  position: absolute;
  width: 49%;
  height: 38px;
  background-color: #ffc000;
  top: 4px;
  left: 4px;
  border-radius: 30px;
  transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#option2:checked ~ .background {
  left: 50%;
}
#option1:checked + label[for="option1"] {
  color: #212121;
  font-weight: bold;
}
#option2:checked + label[for="option2"] {
  color: #212121;
  font-weight: bold;
}
#option1:not(:checked) + label[for="option1"],
#option2:not(:checked) + label[for="option2"] {
  color: #7d7d7d;
}

/* button css */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
