@import "tailwindcss";
@import "./styles/font.css";

html {
  scroll-behavior: smooth;
}
body,
a {
  font-family: var(--font-sans);
  cursor: url("/arrow.cur") 16 16, auto;
}
body {
  background-color: black;
}
input,
textarea {
  cursor: text;
}
